<div class="body-page">
    <section class="lottery-result">
        <img class="bg-image" src="assets/images/result-background.jpg" alt="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center col-sm-12 row  margin-v-10 ">
                        <div class="result-box">
                            <div class="result-list">
                                <div class="single-list">
                                    <div class="light-area">
                                        <div class='row text-center'>
                                            <h1 class=" text-warning"> {{(msg)? msg : 'Ere kote sèvè'}} </h1>
                                        </div>
                                        <div class="col-md-12 col-sm-12 text-center">
                                            <h3 class=" text-primary"> Al depoze kòb sou kont ou</h3>
                                            <img routerLink="/game/depot" style="width: 98%; margin: 1%; " src="https://sandbox.moncashbutton.digicelgroup.com/Moncash-middleware/resources/assets/images/MC_button_kr.png">
                                        </div>
                                        <div class='row text-center'>
                                            <a routerLink="/game/home">retounen</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>