<div class="numbers col-sm-12">
    <span class="boule" *ngIf="item.lot_0">{{item?.lot_0}} </span>
    <span class="boule" *ngIf="item.lot_1">{{item?.lot_1}} </span>
    <span class="boule" *ngIf="item.lot_2">{{item?.lot_2}} </span>
    <br/>
    <span class="boule" *ngIf="item.lot_3">{{item?.lot_3}} </span>
    <span class="boule" *ngIf="item.lot_4">{{item?.lot_4}} </span>
    <span class="boule" *ngIf="item.lot_5">{{item?.lot_5}} </span>
    <span class="boule" *ngIf="item.lot_6">{{item?.lot_6}} </span>
</div>