<div class="body-page">
    <section class="lottery-result">
        <img class="bg-image" src="assets/images/result-background.jpg" alt="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center col-sm-12 row  margin-v-10 ">
                        <div class="result-box">
                            <div class="result-list">
                                <div class="single-list">
                                    <div class="light-area">
                                        <div *ngIf='success' class='row text-center'>
                                            <h1 class=" text-success">Transaksyon reyisi </h1>
                                        </div>
                                        <div *ngIf='error' class='row text-center'>
                                            <h1 class=" text-warning">{{ msg }} </h1>
                                            <a [disabled]="error" class="btn btn-primary" (click)="setSoldNow()">Klike la pou re eseye anko</a>
                                        </div>
                                        <div *ngIf='!error && !success' class='row text-center'>
                                            <h1 class="text-primary">Fon ti tann svp</h1>
                                        </div>
                                        <div class='row text-center'>
                                            <a (click)="goToHome()">retounen</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>