<div class="body-page-no-head">
    <app-page-title-game [titre]="'Sipò ak èd'" [back]="true" [url]="'/game/home'"></app-page-title-game>
    <div class="box-form box-m">
        <div class="col-md-12 alert alert-success" style="margin-top:25%;">
            <h3> Sali, </h3>
            <p>
                Byenvini nan systèm pou vann bolèt an ligne nou an, Pati sa fèt pou edew ak tout problèm ou ka genyen ak sistèm bolèt nou an, ou ka ekri nou lèw vle , jis klike sou bouton ki paret anba ekran an. Mèsi pou kompreyansyonw kontinye jwe pouw ka leve mago
                paw la.
            </p>
        </div>
    </div>

</div>