<div class="body-page-no-head">
    <app-page-title-game [titre]="'Règ jwèt la'" [back]="true" [url]="'/game/home'"></app-page-title-game>
    <div class="box-form-n box-m">
        <div class="col-md-12 white p-2">


            <div class="col-md-12">

                <p class=MsoNormal><b>INTWODIKSYON</b></p>

                <p class=MsoNormal style='text-align:justify'><span style='color:#212529'>Nou
            ap montre ou kijan bòlèt la jwe avèk tout tip de jwèt bòlèt nou vann yo. </span></p>

                <p class=MsoNormal style='text-align:justify'><span style='color:#212529'>&nbsp;</span></p>

                <p class=MsoNormal style='text-align:justify'><b><span lang=EN
            style='color:#212529'>BOLET OU KA JWE</span></b></p>

                <p class=MsoNormal style='text-align:justify'><span lang=EN style='color:#212529'>Men
            nou vann plizyè bòlèt, tankou :</span></p>

                <p class=MsoListParagraphCxSpFirst style='text-align:justify;text-indent:-.25in'><span lang=EN style='font-family:Symbol;color:#212529'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span lang=EN style='color:#212529'>New York </span></p>

                <p class=MsoListParagraphCxSpLast style='text-align:justify;text-indent:-.25in'><span lang=EN style='font-family:Symbol;color:#212529'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span lang=EN style='color:#212529'>Florida </span></p>

                <p class=MsoNormal style='text-align:justify'><span lang=EN style='color:#212529'>&nbsp;</span></p>

                <p class=MsoNormal style='text-align:justify'><b><span lang=EN
            style='color:#212529'>KONDISYON JWET YO</span></b></p>

                <p class=MsoNormal style='text-align:justify'><span lang=EN style='color:#212529'>Bòlèt
            yo tire 2 fwa pandan jounen an : Maten e Aswè. </span></p>

                <p class=MsoNormal style='text-align:justify'><span lang=EN style='color:#212529'>&nbsp;</span></p>

                <p class=MsoNormal style='text-align:justify'><span lang=EN style='color:#212529'>Se
            bòlèt ou jwe a ki ap defini kilè bòlèt yo ap tire. Tankou bòlèt New York maten
            an tire a 2:30 PM. </span><span style='color:#212529'>Lè sa te chanje deja.
            Tout fwa lè bòlèt yo chanje, nou ap asire nou ke ou konnen pou nou chanje yo.</span></p>

                <p class=MsoNormal style='text-align:justify'><span style='color:#212529'>&nbsp;</span></p>

                <p class=MsoNormal style='text-align:justify'><span style='color:#212529'>Lè
            bòlèt yo tire, tout tire menm jan an nan style sa (000 0000). Annou pran egzanp
            ke se boul sa yo ki soti : 122 55 10. Nou ap itilize yo nan esplikasyon anba a
            pou ba ou plis detay.</span></p>

                <p class=MsoNormal><span style='color:#212529'>&nbsp;</span></p>

                <p class=MsoNormal><span style='color:#212529'>Depi lè bolèt la rive pou tire
            nou ta fe yon fich menm lè sèv</span><span style='font-family:"Times New Roman",serif;
            color:#212529'>è a ta kite nou pase, menm lè nou ta gnyn nou pap ka touche
            paske lè bolèt la te gentan rive pou tire.Tout fich nou ta fe pandan lè a
            oubyen apre ap konsidere ‘’ENVALID’’</span></p>

                <p class=MsoNormal><span style='font-family:"Times New Roman",serif;color:#212529'>&nbsp;</span></p>

                <p class=MsoNormal><span style='font-family:"Times New Roman",serif;color:#212529'>Si
            tout fwa kob la ta gentan monte sou kont ou depi ou te fel nan yon lè ki te
            gentan depase nou gen tout dwa pou retire kob sa sou kont ou.</span></p>

                <p class=MsoNormal><span style='font-family:"Times New Roman",serif;color:#212529'>&nbsp;</span></p>

                <p class=MsoNormal><b>TIP JWET NOU VANN</b></p>

                <p class=MsoNormal style='text-align:justify'><span style='color:#212529'>Nou
            sèlman vann 5 tip jwèt bòlèt sa yo :</span></p>

                <p class=MsoListParagraphCxSpFirst style='text-align:justify;text-indent:-.25in'><span lang=EN style='color:#212529'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span lang=EN style='color:#212529'>Bòlèt</span></p>

                <p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:-.25in'><span lang=EN style='color:#212529'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span lang=EN style='color:#212529'>Maryaj</span></p>

                <p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:-.25in'><span lang=EN style='color:#212529'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span lang=EN style='color:#212529'>Loto 3 chif</span></p>

                <p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:-.25in'><span lang=EN style='color:#212529'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span lang=EN style='color:#212529'>Loto 4 chif</span></p>

                <p class=MsoListParagraphCxSpLast style='text-align:justify;text-indent:-.25in'><span lang=EN style='color:#212529'>5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span lang=EN style='color:#212529'>Loto 5 chif</span></p>

                <p class=MsoNormal style='text-align:justify'><span lang=EN style='color:#212529'>&nbsp;</span></p>

                <p class=MsoNormal style='text-align:justify'><b><span lang=EN
            style='color:#212529'>1. JWET BOLET LA</span></b></p>

                <table class="table">
                    <tr>
                        <td width=252 style='width:189.0pt;border:solid windowtext 1.0pt;padding:
              0in 5.4pt 0in 5.4pt'>
                            <p class=media2 style='margin-top:0in'><b><span lang=EN style='font-size:
              14.0pt;color:#212529'>Deskripsyon</span></b></p>
                        </td>
                        <td width=372 style='width:278.75pt;border:solid windowtext 1.0pt;border-left:
              none;padding:0in 5.4pt 0in 5.4pt'>
                            <p class=media2 style='margin-top:3.75pt;margin-right:0in;margin-bottom:3.75pt;
              margin-left:0in'><b><span style='font-size:14.0pt;color:#212529'>Kantite </span></b><b><span
              style='font-size:14.0pt;color:#212529'>kòb ou ap touche</span></b></p>
                        </td>
                    </tr>
                    <tr>
                        <td width=252 style='width:189.0pt;border:solid windowtext 1.0pt;border-top:
              none;padding:0in 5.4pt 0in 5.4pt'>
                            <p class=media2 style='margin-top:0in'><span style='font-family:"Calibri",sans-serif;
              color:#212529'>Li pote non jwèt la ak biznis lan se paske li pi ansyen. </span></p>
                            <p class=MsoNormal><span style='color:#212529'>Pou'w jwe wap gen pou'w chwazi
              1 nimewo 2 chif de 00 a 99. Ou kapab chwazi plizy</span><span style='color:#212529'>è nimewo pou ou jwe si ou vle. </span></p>
                        </td>
                        <td width=372 style='width:278.75pt;border-top:none;border-left:none;
              border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
              padding:0in 5.4pt 0in 5.4pt'>
                            <p class=media2 style='margin-top:3.75pt;margin-right:0in;margin-bottom:3.75pt;
              margin-left:0in'><span lang=EN style='font-family:"Calibri",sans-serif;
              color:#212529'>Gen 3 fason ou ka genyen e chak fason sa yo gen yon kantite
              kòb ou ap genyen.</span></p>
                            <p class=media2 style='margin-top:3.75pt;margin-right:0in;margin-bottom:3.75pt;
              margin-left:22.0pt;text-indent:-.25in'><span style='font-family:"Calibri",sans-serif;
              color:#212529'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </span></span><span style='font-family:"Calibri",sans-serif;color:#212529'>Premye
              Lo (1<b><u>22</u></b> 55 10) : 60 fwa </span>k<span style='font-family:"Calibri",sans-serif;
              color:#212529'>ò</span>b ou te mize a<span style='font-family:"Calibri",sans-serif;
              color:#212529'>. </span></p>
                            <p class=media2 style='margin-top:3.75pt;margin-right:0in;margin-bottom:3.75pt;
              margin-left:22.0pt;text-indent:-.25in'><span style='font-family:"Calibri",sans-serif;
              color:#212529'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </span></span><span style='font-family:"Calibri",sans-serif;color:#212529'>Dezyèm
              Lo (122 <b><u>55</u></b> 10) : 20 fwa </span>k<span style='font-family:"Calibri",sans-serif;
              color:#212529'>ò</span>b ou te mize a<span style='font-family:"Calibri",sans-serif;
              color:#212529'>. </span></p>
                            <p class=media2 style='margin-top:3.75pt;margin-right:0in;margin-bottom:3.75pt;
              margin-left:22.0pt;text-indent:-.25in'><span style='font-family:"Calibri",sans-serif;
              color:#212529'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </span></span><span style='font-family:"Calibri",sans-serif;color:#212529'>Twazyèm
              Lo (122 55 <b><u>10</u></b>) : 10 fwa </span>k<span style='font-family:"Calibri",sans-serif;
              color:#212529'>ò</span>b ou te mize a<span style='font-family:"Calibri",sans-serif;
              color:#212529'>. </span></p>
                            <p class=media2 style='margin-top:3.75pt;margin-right:0in;margin-bottom:3.75pt;
              margin-left:0in'><span style='font-family:"Calibri",sans-serif;color:#212529'>&nbsp;</span></p>
                            <p class=media2 style='margin-top:3.75pt;margin-right:0in;margin-bottom:3.75pt;
              margin-left:0in'><span style='font-family:"Calibri",sans-serif;color:#212529'>Si
              ou te jwe 22 pou 100 Goud, ou ap genyen 6,000 Goud.</span></p>
                            <p class=media2 style='margin-top:3.75pt;margin-right:0in;margin-bottom:3.75pt;
              margin-left:0in'><span style='font-family:"Calibri",sans-serif;color:#212529'>&nbsp;</span></p>
                            <p class=media2 style='margin-top:3.75pt;margin-right:0in;margin-bottom:3.75pt;
              margin-left:0in'><span style='font-family:"Calibri",sans-serif;color:#212529'>**
              Si yon nimewo fé 2 ou 3 kabès, wap genyen pou chak lo separeman.</span></p>
                        </td>
                    </tr>
                </table>

                <p class=MsoNormal style='text-align:justify'><b><span style='color:#212529'>&nbsp;</span></b></p>

                <p class=MsoNormal style='text-align:justify'><b><span lang=EN
            style='color:#212529'>2. JWET LOTO 3 CHIF LAN</span></b></p>

                <table class="table">
                    <tr>
                        <td width=252 style='width:189.0pt;border:solid windowtext 1.0pt;padding:
              0in 5.4pt 0in 5.4pt'>
                            <p class=media2 style='margin-top:0in'><b><span lang=EN style='font-size:
              14.0pt;color:#212529'>Deskripsyon</span></b></p>
                        </td>
                        <td width=372 style='width:278.75pt;border:solid windowtext 1.0pt;border-left:
              none;padding:0in 5.4pt 0in 5.4pt'>
                            <p class=media2 style='margin-top:3.75pt;margin-right:0in;margin-bottom:3.75pt;
              margin-left:0in'><b><span style='font-size:14.0pt;color:#212529'>Kantite </span></b><b><span
              style='font-size:14.0pt;color:#212529'>kòb ou ap touche</span></b></p>
                        </td>
                    </tr>
                    <tr>
                        <td width=252 style='width:189.0pt;border:solid windowtext 1.0pt;border-top:
              none;padding:0in 5.4pt 0in 5.4pt'>
                            <p class=MsoNormal><span style='color:#212529'>Pou ou jwe jwèt sa, ou ka
              chwazi yon nimewo 3 chif de '000' a '999'. </span></p>
                        </td>
                        <td width=372 style='width:278.75pt;border-top:none;border-left:none;
              border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
              padding:0in 5.4pt 0in 5.4pt'>
                            <p class=MsoNormal>Wap <b>genyen 500 fwa k</b><b><span style='color:#212529'>ò</span></b><b>b
              ou te mize a</b>. si ou te <span style='color:#212529'>fè yon maryaj </span>pou 5 Goud, ou ap genyen 2,500 Goud.</p>
                            <p class=MsoNormal>&nbsp;</p>
                            <p class=media2 style='margin-top:3.75pt;margin-right:0in;margin-bottom:3.75pt;
              margin-left:0in'>Si se boul sa yo ki soti <span style='color:#212529'>(<b><u>122
              </u></b>55 10)</span>, p<span style='color:#212529'>ou'w genyen fòk ou te jwe
              <b><u>122</u></b>.</span></p>
                        </td>
                    </tr>
                </table>

                <p class=MsoNormal>&nbsp;</p>

                <p class=MsoNormal style='text-align:justify'><b><span lang=EN
            style='color:#212529'>3. JWET MARYAJ LAN</span></b></p>

                <table class="table">
                    <tr>
                        <td width=252 style='width:189.0pt;border:solid windowtext 1.0pt;padding:
              0in 5.4pt 0in 5.4pt'>
                            <p class=media2 style='margin-top:0in'><b><span lang=EN style='font-size:
              14.0pt;color:#212529'>Deskripsyon</span></b></p>
                        </td>
                        <td width=372 style='width:278.75pt;border:solid windowtext 1.0pt;border-left:
              none;padding:0in 5.4pt 0in 5.4pt'>
                            <p class=media2 style='margin-top:3.75pt;margin-right:0in;margin-bottom:3.75pt;
              margin-left:0in'><b><span style='font-size:14.0pt;color:#212529'>Kantite </span></b><b><span
              style='font-size:14.0pt;color:#212529'>kòb ou ap touche</span></b></p>
                        </td>
                    </tr>
                    <tr>
                        <td width=252 style='width:189.0pt;border:solid windowtext 1.0pt;border-top:
              none;padding:0in 5.4pt 0in 5.4pt'>
                            <p class=media2 style='margin-top:3.75pt;margin-right:0in;margin-bottom:3.75pt;
              margin-left:0in'><span style='font-family:"Calibri",sans-serif;color:#212529'>Jwèt
              sa pèmèt ou mize sou 2 boul Bòlèt <span class=elle>ansanm</span>. Pou'w jwe wap gen pou'w chwazi 2 nimewo 2 chif de 00 a 99 pou ou marye yo ansanm konsa: 10x22 oubyen 10x55…</span>
                            </p>
                            <p class=media2 style='margin-top:3.75pt;margin-right:0in;margin-bottom:3.75pt;
              margin-left:0in'><span style='font-family:"Calibri",sans-serif;color:#212529'>&nbsp;</span></p>
                            <p class=MsoNormal><span style='color:#212529'>Kèlkeswa nan pozisyon nimewo 
              ou yo plase (11x22 oubyen 22x11), wap ka genyen kòb ou te mize a. </span></p>
                        </td>
                        <td width=372 style='width:278.75pt;border-top:none;border-left:none;
              border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
              padding:0in 5.4pt 0in 5.4pt'>
                            <p class=MsoNormal>Wap <b>genyen 1,000 fwa k</b><b><span style='color:#212529'>ò</span></b><b>b
              ou te mize a</b>. si ou te <span style='color:#212529'>fè yon maryaj </span>pou 5 Goud, ou ap genyen 5,000 Goud</p>
                            <p class=MsoNormal><span style='color:#212529'>&nbsp;</span></p>
                            <p class=MsoNormal><span style='color:#212529'>Pouw genyen fòk ou te fè yon
              maryaj ki gen 2 boul ki fè lo ladanl. Kelkeswa pozisyon boul yo, wap genyen</span></p>
                            <p class=MsoNormal>&nbsp;</p>
                            <p class=MsoNormal>Ou kapab genyen 3 fason :</p>
                            <p class=media2 style='margin-top:3.75pt;margin-right:0in;margin-bottom:3.75pt;
              margin-left:26.5pt;text-indent:-.25in'><span lang=EN style='font-family:"Calibri",sans-serif;
              color:#212529'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </span></span><span lang=EN style='font-family:"Calibri",sans-serif;
              color:#212529'>(<b><u>10x55</u></b>) – (122 <b><u>55 10</u></b>) </span></p>
                            <p class=media2 style='margin-top:3.75pt;margin-right:0in;margin-bottom:3.75pt;
              margin-left:26.5pt;text-indent:-.25in'><span lang=EN style='font-family:"Calibri",sans-serif;
              color:#212529'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </span></span><span lang=EN style='font-family:"Calibri",sans-serif;
              color:#212529'>(<b><u>10x22</u></b>) – (1<b><u>22</u></b> 55 <b><u>10</u></b>)
              </span></p>
                            <p class=media2 style='margin-top:3.75pt;margin-right:0in;margin-bottom:3.75pt;
              margin-left:0in'><span lang=EN style='font-family:"Calibri",sans-serif;
              color:#212529'>(<b><u>55x22</u></b>) – (1<b><u>22 55</u></b> 10) </span></p>
                        </td>
                    </tr>
                </table>

                <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

                <p class=MsoNormal style='text-align:justify'><b><span lang=EN
            style='color:#212529'>4. JWET LOTO 4 CHIF LAN</span></b></p>

                <table class="table">
                    <tr>
                        <td width=252 style='width:189.0pt;border:solid windowtext 1.0pt;padding:
              0in 5.4pt 0in 5.4pt'>
                            <p class=media2 style='margin-top:0in'><b><span lang=EN style='font-size:
              14.0pt;color:#212529'>Deskripsyon</span></b></p>
                        </td>
                        <td width=372 style='width:278.75pt;border:solid windowtext 1.0pt;border-left:
              none;padding:0in 5.4pt 0in 5.4pt'>
                            <p class=media2 style='margin-top:3.75pt;margin-right:0in;margin-bottom:3.75pt;
              margin-left:0in'><b><span style='font-size:14.0pt;color:#212529'>Kantite </span></b><b><span
              style='font-size:14.0pt;color:#212529'>kòb ou ap touche</span></b></p>
                        </td>
                    </tr>
                    <tr>
                        <td width=252 style='width:189.0pt;border:solid windowtext 1.0pt;border-top:
              none;padding:0in 5.4pt 0in 5.4pt'>
                            <p class=media2 style='margin-top:3.75pt;margin-right:0in;margin-bottom:3.75pt;
              margin-left:0in'><span style='font-family:"Calibri",sans-serif;color:#212529'>Jwèt
              sa pèmèt ou mize sou 2 boul Bòlèt <span class=elle>ansanm</span> pou ou fe yon 4 chif. Pou'w jwe wap gen pou'w chwazi yon chif ant 0000 a 9999 pou ou mize konsa: 1022 oubyen 1055…</span>
                            </p>
                            <p class=MsoNormal><span style='color:#212529'>&nbsp;</span></p>
                            <p class=MsoNormal><span style='color:#212529'>Jwèt sa prèske menm <span
              class=elle>jan</span> ak jwèt maryaj la, men diferans se ke ou pap genyen si ou te jwe 1022 epi se 2210 ki soti, epi ou pa’t fe opsyon.</span>
                            </p>
                        </td>
                        <td width=372 style='width:278.75pt;border-top:none;border-left:none;
              border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
              padding:0in 5.4pt 0in 5.4pt'>
                            <p class=MsoNormal>Wap <b>genyen 5,000 fwa k</b><b><span style='color:#212529'>ò</span></b><b>b
              ou te mize a</b>. si ou te <span style='color:#212529'>fè yon Loto 4 chif </span>pou 5 Goud, ou ap genyen 25,000 Goud</p>
                            <p class=MsoNormal>&nbsp;</p>
                            <p class=MsoNormal>Toujou fe opsyon pou ou kapab ogmante chans pou genyen. Genyen 3 opsyon, e si ou pa fe opsyon, ou otomatikman fe opsyon 1 an.</p>
                            <p class=media2 style='margin-top:3.75pt;margin-right:0in;margin-bottom:3.75pt;
              margin-left:.25in;text-indent:-.25in'><span lang=EN style='font-family:"Calibri",sans-serif;
              color:#212529'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </span></span><span lang=EN style='font-family:"Calibri",sans-serif;
              color:#212529'>Opsyon 1 : <b><u>5510</u></b> (122 <b><u>55 10</u></b>)</span></p>
                            <p class=media2 style='margin-top:3.75pt;margin-right:0in;margin-bottom:3.75pt;
              margin-left:.25in;text-indent:-.25in'><span lang=EN style='font-family:"Calibri",sans-serif;
              color:#212529'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </span></span><span lang=EN style='font-family:"Calibri",sans-serif;
              color:#212529'>Opsyon 2 : <b><u>2255</u></b> (1<b><u>22 55</u></b> 10)</span></p>
                            <p class=media2 style='margin-top:3.75pt;margin-right:0in;margin-bottom:3.75pt;
              margin-left:0in'><span lang=EN style='color:#212529'>Opsyon 3 :&nbsp;<b><u>2210</u></b>
              (1<b><u>22</u></b> 55 <b><u>10</u></b>)</span></p>
                        </td>
                    </tr>
                </table>

                <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

                <p class=MsoNormal style='text-align:justify'><b><span lang=EN
            style='color:#212529'>5. JWET LOTO 5 CHIF LAN</span></b></p>

                <table class="table">
                    <tr>
                        <td width=252 style='width:189.0pt;border:solid windowtext 1.0pt;padding:
              0in 5.4pt 0in 5.4pt'>
                            <p class=media2 style='margin-top:0in'><b><span lang=EN style='font-size:
              14.0pt;color:#212529'>Deskripsyon</span></b></p>
                        </td>
                        <td width=372 style='width:278.75pt;border:solid windowtext 1.0pt;border-left:
              none;padding:0in 5.4pt 0in 5.4pt'>
                            <p class=media2 style='margin-top:3.75pt;margin-right:0in;margin-bottom:3.75pt;
              margin-left:0in'><b><span style='font-size:14.0pt;color:#212529'>Kantite </span></b><b><span
              style='font-size:14.0pt;color:#212529'>kòb ou ap touche</span></b></p>
                        </td>
                    </tr>
                    <tr>
                        <td width=252 style='width:189.0pt;border:solid windowtext 1.0pt;border-top:
              none;padding:0in 5.4pt 0in 5.4pt'>
                            <p class=MsoNormal><span style='color:#212529'>Jwèt sa pèmèt ou mize yon boul
              Bòlèt 5 chif. Pou'w jwe wap gen pou'w chwazi yon chif ant 00000 a 99999 pou
              ou mize konsa: 12255 oubyen 25510…</span></p>
                        </td>
                        <td width=372 style='width:278.75pt;border-top:none;border-left:none;
              border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
              padding:0in 5.4pt 0in 5.4pt'>
                            <p class=MsoNormal>Wap <b>genyen 25,000 fwa k</b><b><span style='color:#212529'>ò</span></b><b>b
              ou te mize a</b>. si ou te <span style='color:#212529'>fè yon Loto 5 chif </span>pou 5 Goud, ou ap genyen 125,000 Goud</p>
                            <p class=MsoNormal>&nbsp;</p>
                            <p class=MsoNormal>Toujou fe opsyon pou ou kapab ogmante chans pou genyen. Genyen 3 opsyon, e si ou pa fe opsyon, ou otomatikman fe opsyon 1 an.</p>
                            <p class=media2 style='margin-top:3.75pt;margin-right:0in;margin-bottom:3.75pt;
              margin-left:.25in;text-indent:-.25in'><span lang=EN style='font-family:"Calibri",sans-serif;
              color:#212529'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </span></span><span lang=EN style='font-family:"Calibri",sans-serif;
              color:#212529'>Opsyon 1 : <b><u>12255</u></b> (<b><u>122 55</u></b> 10)</span></p>
                            <p class=media2 style='margin-top:3.75pt;margin-right:0in;margin-bottom:3.75pt;
              margin-left:.25in;text-indent:-.25in'><span lang=EN style='font-family:"Calibri",sans-serif;
              color:#212529'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </span></span><span lang=EN style='font-family:"Calibri",sans-serif;
              color:#212529'>Opsyon 2 : <b><u>12210</u></b> (<b><u>122</u></b> 55 <b><u>10</u></b>)</span></p>
                            <p class=media2 style='margin-top:3.75pt;margin-right:0in;margin-bottom:3.75pt;
              margin-left:.25in;text-indent:-.25in'><span lang=EN style='font-family:"Calibri",sans-serif;
              color:#212529'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </span></span><span lang=EN style='font-family:"Calibri",sans-serif;
              color:#212529'>Opsyon 3 : <b><u>25510</u></b> (12<b><u>2 55 10</u></b>)</span></p>
                        </td>
                    </tr>
                </table>



            </div>

        </div>

    </div>



</div>